body {
  font-size: 24px;
  color: yellow;
  background-color: gray;
}

#content {
  text-align: center;
}

#fish-tank {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 300px;
  background-color: black;
}

#fish-tank-glass {
  display: flex;
  position: absolute;
  flex-direction:column-reverse;
  justify-content: space-around;
  align-items: flex-end;
  top: 12.5%;
  left: 7.5%;
  
  width: 85%;
  height: 75%;

  background-color: rgba(106, 106, 197, 0.651);
}

img {
  position: relative;
  
  width: 50px;
  height: 30px;

}

@keyframes driftLeft {
  0%   {right: 0px;}
  25%  {right: 200px;}
  50%  {right: 100px;}
  75%  {right: 200px;}
  100% {right: 0px;}
}