body {
  font-size: 24px;
  color: yellow;
  background-color: gray;
}

#content {
  text-align: center;
}

#fish-tank {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 300px;
  background-color: black;
}

#fish-tank-glass {
  display: flex;
  position: absolute;
  flex-direction:column-reverse;
  justify-content: space-around;
  align-items: flex-end;
  top: 12.5%;
  left: 10%;
  
  width: 80%;
  height: 75%;

  background-color: rgba(106, 106, 197, 0.651);
}

img {
  position: relative;
  
  width: 50px;
  height: 30px;
  animation: driftLeft 5s infinite;
}

.left-fish {
  
  
  animation: driftLeft 10s infinite;
}

.right-fish {
  color: red;
  position: absolute;
  animation: driftRight 10s infinite;
}

.red-fish {
  position: absolute;
  background-image: url('https://raw.githubusercontent.com/tlq68/FishHome/main/RedCircle.png');
  background-repeat: no-repeat;
  left: 0;
  width: 272px;
  height: 134px;
  transform: scale(.3);
}

.purple-fish {
  position: absolute;
  top: -20px;
  background-image: url('https://raw.githubusercontent.com/tlq68/FishHome/main/PurpleCircle.png');
  background-repeat: no-repeat;
  left: 0;
  width: 371px;
  height: 147px;
  transform: scale(.3);
}

.blue-fish {
  position: absolute;
  top: 70px;
  background-image: url('https://raw.githubusercontent.com/tlq68/FishHome/main/BlueCircle.png');
  background-repeat: no-repeat;
  left: 0;
  width: 473px;
  height: 204px;
  transform: scale(.3);
}

@keyframes driftLeft {
  0%   {left: 0%;}
  
  100% {left: 100%;}
}

@keyframes driftRight {
  0%   {left: 100%;}
  
  100% {left: 0%;}
}